@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body{
    background-color: rgba(252, 230, 194, 0.324);
    font-family: "Inter", sans-serif;
    font-size: 16px;
}
.main__movies{
    max-width: 1300px;
    width: 90%;
    min-width: 800px;
    margin: 0 auto;
}
.main__title {
    margin: 10px;
    text-align: center;
    font-size: clamp(2rem, 50%, 3rem);
    font-weight: 700;
}
.second__title{
    margin: 10px;
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
}

.movie__title{
    font-size: max(1.7em, 1em + 3vw, 2em);
    font-weight: 600;
    margin: 16px;
    
}
.movies__list{
    display: flex;
    flex-direction: column;
    gap: 16px;
    
}

.movie{
   display: flex; 
   gap: 16px;
   background-color: rgb(238, 238, 237);
   border-radius: 10px;
   box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
   color: #333;
   padding: 16px; 
   
   
}

.movie__poster{
    width: 30%;
    
}


.movie__rating{
    font-size: 1.2rem;
    font-weight: 600;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 3px;
    padding: 6px;
    margin-left: 5px;
    color: white;
}
.movie__rating__r{
    background-color: red;
    
}
.movie__rating__pg13{
    background-color: rgb(181, 29, 192);
    
}
.movie__rating__g{
    background-color: rgb(21, 214, 73);
   
}
.movie__starRating{
    display: flex;
    margin: 4px 0px 4px 4px;
    gap: 2px;
}
.starChecked{
    color: rgb(255, 179, 0);
}

.movie__genre , .movie__synopsis {
    line-height: 1.4rem;
}
.movie__title{
    font-size: min(3vw,50px);;
    font-weight: 600;
    
}

.movie__genre{
    font-size: 1.3rem;
    margin-block: 10px;
    font-weight: 600px;
    color: #000000bd;
    display: inline-flex;
}
.movie__synopsis {
    font-size: clamp(16px,50%, 24px);
    padding-top: 10px;
}

.movie__content{

display: flex;
flex-direction: column;
justify-content: space-between;
}

.movie__actions{
    
    display: flex;
    gap: 10px;
    align-self: center;
}

.movie__action__button{
    font-size: min(3vw,50px);
    border: 2px solid black;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    box-shadow: 4px 4px  gray;
    transition: 300ms;
    
}

.movie__action__button:hover{
    background-color: rgb(5, 55, 16);
    color: white;
}   